<div class="slide big-text-slide">
  {% for arg in args %} {{ arg|safe }} {% endfor %}
</div>

<style>
  .big-text-slide p {
    font-size: 8vh;
    text-wrap: balance;
    color: var(--text-mist);
    font-family: "JetBrains Mono", monospace;
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }

  .big-text-slide h2 {
    font-size: 10vh;
    text-wrap: balance;
    color: var(--highlight-frost);
  }

  .big-text-slide h3 {
    font-size: 8vh;
    text-wrap: balance;
    color: var(--text-mist);
  }
</style>
