<div class="slide group-of-three-slide">
  <div class="panel card">
    <div class="panel-header"><span class="panel-label">A</span></div>
    <div class="panel-content">{{ args[0]|safe }} {{ args[1]|safe }}</div>
  </div>
  <div class="panel card">
    <div class="panel-header"><span class="panel-label">B</span></div>
    <div class="panel-content">{{ args[2]|safe }} {{ args[3]|safe }}</div>
  </div>
  <div class="panel card">
    <div class="panel-header"><span class="panel-label">C</span></div>
    <div class="panel-content">{{ args[4]|safe }} {{ args[5]|safe }}</div>
  </div>
</div>

<style>
  .group-of-three-slide {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-direction: row;
    gap: var(--component-gap);
  }

  .group-of-three-slide .card {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .group-of-three-slide .panel-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .group-of-three-slide .panel-content h2,
  .group-of-three-slide .panel-content h3 {
    font-size: 3vh;
    color: var(--highlight-frost);
    margin-bottom: var(--padding-standard);
  }

  .group-of-three-slide .panel-content p {
    font-size: 2.5vh;
    color: var(--text-sage);
  }
</style>
