<div class="slide sign-off-slide">
  <div class="card">
    <div class="item">
      <div class="top-card">
        <img
          src="https://chuffedcoaching.com/dom-maurice/Me.png"
          alt="Dom Maurice headshot"
        />
        <div class="user-socials">
          <h3>Dom Maurice</h3>
          <h6>@chuffeddom</h6>
          <div class="socials-row">
            <img
              src="https://chuffedcoaching.com/dom-maurice/icons/github.svg"
              alt="chuffeddom on GitHub"
            />
            <img
              src="https://chuffedcoaching.com/dom-maurice/icons/youtube.svg"
              alt="chuffeddom on YouTube"
            />
            <img
              src="https://chuffedcoaching.com/dom-maurice/icons/bluesky.svg"
              alt="chuffeddom on Bluesky"
            />
            <img
              src="https://chuffedcoaching.com/dom-maurice/icons/tiktok.svg"
              alt="chuffeddom on TikTok"
            />
            <img
              src="https://chuffedcoaching.com/dom-maurice/icons/substack.svg"
              alt="chuffeddom on Substack"
            />
          </div>
        </div>
      </div>
      <div class="links">
        <a href="https://linkedin.com/in/dom-maurice/" class="link-row">
          <img
            src="https://chuffedcoaching.com/dom-maurice/icons/linkedin.svg"
            alt="chuffeddom on LinkedIn"
          />
          <h6>linkedin.com/in/dom-maurice/</h6>
        </a>
        <a href="mailto:dom@chuffed.solutions" class="link-row">
          <img
            src="https://chuffedcoaching.com/dom-maurice/icons/email.svg"
            alt="chuffeddom on Email"
          />
          <h6>dom@chuffed.solutions</h6>
        </a>
        <a href="https://chuffedcoaching.com" class="link-row">
          <img
            src="https://chuffedcoaching.com/dom-maurice/icons/website.svg"
            alt="chuffeddom on Website"
          />
          <h6>chuffedcoaching.com</h6>
        </a>
      </div>
    </div>
    <div class="item">
      <img
        src="https://chuffedcoaching.com/dom-maurice/Chuffed-Coaching-Dom-QR.png"
        alt="qrcode to page"
      />
    </div>
  </div>
</div>

<style>
  .sign-off-slide p {
    font-size: 8vh;
  }

  .sign-off-slide .card {
    display: flex;
    gap: 5vh;
    align-items: center;
  }

  .socials-row {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  .top-card {
    display: flex;
    flex-direction: row;
    gap: 5vh;
  }

  .top-card img {
    height: 20vh;
    width: 20vh;
  }

  .socials-row img {
    height: 4.5vh;
    width: 4.5vh;
    /* recolour SVG icons by forcing them to white via filter */
    filter: brightness(0) invert(1);
  }

  .top-card .user-socials {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    align-items: flex-start;
  }

  .top-card .user-socials h6 {
    font-size: 3.5vh;
    margin: 0;
  }

  .top-card .user-socials h3 {
    font-size: 4vh;
    margin: 0;
    color: var(--accent-gold);
    margin-bottom: 1vh;
  }

  .links {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    margin-left: 3vw;
  }

  .links a.link-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5vh;
    text-decoration: none;
    color: var(--text-white);
  }

  .links a img {
    height: 6vh;
    width: 6vh;
    flex-shrink: 0;
    filter: brightness(0) invert(1);
  }

  .links a h6 {
    margin: 0;
    font-size: 2.5vh;
  }

  .sign-off-slide .card > .item:first-child {
    display: flex;
    flex-direction: column;
    gap: 3vh;
  }

  .sign-off-slide .card > .item:last-child img {
    height: min(40vh, 30vw);
    width: min(40vh, 30vw);
    border-radius: 4vh;
  }
</style>
