<div class="slide title-image-slide">
  {% for arg in args %} {{ arg|safe }} {% endfor %}
</div>

<style>
  .title-image-slide {
    justify-content: flex-start;
  }
  .title-image-slide h2 {
    color: var(--accent-gold);
    font-size: 7vh;
    margin-bottom: 5vh;
    margin-block-start: 0;
  }
  .title-image-slide p {
    font-size: 6vh;
    margin: 0;
    margin-bottom: 1vh;
  }
  .title-image-slide img {
    height: auto;
    max-height: 80%;
    width: 60vw;
    max-width: 60vw;
    object-fit: contain;
    border-radius: clamp(8px, 2vw, 24px);
  }
</style>
