<div class="slide title-list-slide todo">
  {% for arg in args %} {{ arg|safe }} {% endfor %}
</div>

<style>
  .title-list-slide {
    align-items: flex-start;
    text-align: left;
    justify-content: flex-start;
  }
  .title-list-slide h2 {
    color: var(--highlight-frost);
    font-size: 8vh;
    margin-bottom: var(--component-gap);
  }
  .title-list-slide p {
    font-size: 4vh;
    color: var(--text-sage);
    margin: 1vh 0;
    position: relative;
    padding-left: 3rem;
  }
  .title-list-slide.todo p {
    font-family: "JetBrains Mono", monospace;
  }
</style>
