<div class="slide to-do-slide">
  {% for arg in args %} {{ arg|safe }} {% endfor %}
</div>

<style>
  .to-do-slide {
    align-items: flex-start;
    text-align: left;
    justify-content: flex-start;
  }
  .to-do-slide h2 {
    color: var(--accent-gold);
    font-size: 7vh;
  }
  .to-do-slide ul {
    list-style-type: none;
    padding: 0;
  }
  .to-do-slide li {
    font-size: 4vh;
    display: flex;
    align-items: center;
    margin-bottom: 0.5em;
  }
  .to-do-slide input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid var(--accent-cyan);
    border-radius: 0.15em;
    transform: translateY(-0.075em);
    margin-right: 0.5em;
    display: grid;
    place-content: center;
  }
  .to-do-slide input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    background-color: var(--accent-pink);
    transform: scale(0);
    transition: 120ms transform ease-in-out;
  }
  .to-do-slide input[type="checkbox"]:checked::before {
    transform: scale(1);
  }
</style>
